@import "tailwindcss";

/* 
    Use the following syntax to use the custom colors in tailwind classes
    bg-[var(--color-c-black-1)]
*/
:root {
    --color-c-green-1: #D9FDD3;
    --color-c-green-2: #F5FFEC;
    --color-c-green-3: #2B3A1D;

    --color-c-white-1: #FFFFFF;
    --color-c-white-2: #F7F7F7;

    --color-c-black-1: #333333;
    --color-c-black-2: #777777;
    --color-c-black-3: #EAEAEA;

    --font-primary: "Roboto", "Times New Roman", serif;

    --text-c-p1: 36px;
    --text-c-p2: 24px;
    --text-c-p3: 16px;
    --text-c-p4: 12px;
}

@layer base {
    h1 {
        font-family: var(--font-primary);
        font-size: var(--text-4xl);
        line-height: 100%;
    }
    h2 {
        font-family: var(--font-primary);
        font-size: var(--text-2xl);
        line-height: 100%;
    }
    h3 {
        font-family: var(--font-primary);
        font-size: var(--text-base);
    }
    h4 {
        font-family: var(--font-primary);
        font-size: var(--text-xs);
    }
    h5 {
        font-family: var(--font-primary);
        font-size: var(--text-xs);
    }
    h6 {
        font-family: var(--font-primary);
        font-size: var(--text-xs);
    }

    p {
        font-family: var(--font-primary);
        font-size: var(--text-c-p3);
    }

    a {
        font-family: var(--font-primary);
        font-size: var(--text-c-p3);
    }

    span {
        font-family: var(--font-primary);
        font-size: var(--text-c-p3);
    }

    body {
        background-color: var(--color-c-white-1);
        color: var(--color-c-black-1);
    }


    @media (min-width: 768px) {
        h1 { font-size: var(--text-5xl); }
        h2 { font-size: var(--text-4xl); }
        h3 { font-size: var(--text-3xl); }
        h4 { font-size: var(--text-2xl); }
        h5 { font-size: var(--text-xl); }
        h6 { font-size: var(--text-lg); }
        p, a { font-size: var(--text-c-p3); }
    }

    @media (min-width: 1024px) {
        h1 { font-size: var(--text-6xl); }
        h2 { font-size: var(--text-4xl); }
        h3 { font-size: var(--text-3xl); }
        h4 { font-size: var(--text-2xl); }
        h5 { font-size: var(--text-xl); }
        h6 { font-size: var(--text-lg); }
        p, a { font-size: var(--text-c-p3); }
    }
    
    @media (min-width: 1536px) {
        h1 { font-size: var(--text-8xl); }
        h2 { font-size: var(--text-5xl); }
        h3 { font-size: var(--text-4xl); }
        h4 { font-size: var(--text-3xl); }
        h5 { font-size: var(--text-2xl); }
        h6 { font-size: var(--text-xl); }
        p, a { font-size: var(--text-c-p2); }
    }
}